.container {
    width:300px;
    height:400px;
    background-color:lavender;
    margin:auto;
    display:inline-block;
}

.titulo {
    background-color:aquamarine;
    text-align: center;
}

.delete {
    background-color: rgba(128, 128, 128, 0.711);
    width: 22px;
    height: 22px;
    align-items:flex-end;
    text-align:center;
    color:aliceblue;
    margin: auto;
}